<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="doveadm" value="/usr/bin/doveadm"/>
    <add key="shadowPath" value="/var/mail/vhosts/%d/shadow"/>
    <add key="checkPassword" value="auth test {0} {1}"/>
    <add key="checkUser" value="auth lookup {0}"/>
    <add key="getHash" value="pw -u {0} -p {1}"/>
  </appSettings>
</configuration>
